name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: install requirements  
        run : pip install -r requirements.txt

      - name: install pylint
        run: |
          pip install pylint

      - name: check
        run: pylint .

      - name: install pytest
        run: |
          pip install pytest

      - name: lunch test unitaire
        run: |
         # pytest


      - name: build
        run: docker build -t app1:v1 .

      - name: connect to dockerhub
        run: docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" -p "${{ secrets.DOCKERHUB_PASSWORD }}"

      - name: push
        run: |
          docker tag m2i:latest mkhatiri/my_project:latest
          docker push mkhatiri/m2i:latest
